# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [9]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
0,2,Bengkulu,ID,83.82,-3.8004,102.2655,Grage Hotel Bengkulu
1,4,Ixtapa,MX,70.23,20.7000,-105.2000,hotel la terminal
2,5,Rikitea,PF,73.54,-23.1203,-134.9692,People ThankYou
3,8,Karratha,AU,92.21,-20.7377,116.8463,ibis Styles Karratha
4,9,Butaritari,KI,81.25,3.0707,172.7902,Isles Sunset Lodge
5,15,Mecca,SA,77.47,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
6,16,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,17,East London,ZA,70.74,-33.0153,27.9116,Tu Casa
8,18,Busselton,AU,82.94,-33.6500,115.3333,Observatory Guest House
9,24,Hilo,US,75.25,19.7297,-155.0900,Hilo Hawaiian Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [10]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [17]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == "Hasaki"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Hasaki"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Katsuura"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Tonosho"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Sakaiminato"]
vacation_stop3

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
199,562,Sakaiminato,JP,71.58,35.55,133.2333,Italian pasley

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [19]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [23]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [24]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
0,59,Hasaki,JP,72.28,35.7333,140.8333,Inubosaki Kanko Hotel
1,104,Katsuura,JP,70.14,35.1333,140.3000,Katsuura Hotel Mikazuki
2,575,Tonosho,JP,70.02,34.4833,134.1833,Hotel Green Plaza Shodoshima
3,562,Sakaiminato,JP,71.58,35.5500,133.2333,Italian pasley

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [25]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))